/* styles.css */
:root {
  --gray: #777;
  --white: #fff;
  --success-bg: #A3D9A5; /* 파스텔 그린 */
}

html, body {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 50px;
  background: var(--gray);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonContainer {
  display: flex;
  gap: 0.5rem;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  background: var(--gray);
  color: var(--white);
  text-align: center;
  min-width: 90px; /* 버튼 안의 가장 긴 텍스트를 기준으로 여유롭게 설정 */
}

button.success {
  background: var(--success-bg);
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  color: #000;
}
